body {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
/* go up arrow */
.goup {display: block;
    border-radius: 50%;
    background-color: #a9ccee;
    border: none;
    color: rgb(71, 87, 100);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
/* images */
.img-wrapper {
    width: 80%;
    background-color: cadetblue;
    margin: 0 auto;
}
.image {
    display: inline-block;
    width: 45%;
    margin-inline: auto;
}


/* 3 text */
.box {
    display: inline-block;
    min-width: 350px;
    min-height: 40px;
    font-size: 16px;
    line-height: 40px;
    background-color: beige;
    vertical-align: -webkit-baseline-middle;
    text-align: center;
    
}
.text {
    font-size: 2rem;
}